[Unit]
Description=carbon-cache instance %i (graphite)

[Service]
Type=forking
PIDFile=/opt/graphite/storage/carbon-cache-%i.pid
ExecStartPre=/bin/rm -f /opt/graphite/storage/carbon-cache-%i.pid
ExecStart=/opt/graphite/bin/carbon-cache.py --pidfile=/opt/graphite/storage/carbon-cache-%i.pid --instance=%i --config=/opt/graphite/conf/carbon.conf start
User=graphite
Group=graphite

[Install]
WantedBy = multi-user.target
